<h2 style="text-align: center; margin-top: 80px;"><b>SYARAT DAN KETENTUAN</b></h2>
<hr><br>
<p>Terakhir diperbarui: 30 Agustus 2023</p>
<p>1. <b>Pendahuluan</b></p>
<p>Selamat datang di <b>Wisata Anyer</b>!</p>
<p>Syarat dan Ketentuan Layanan ini (“Syarat”, “Syarat Layanan”) mengatur penggunaan Anda terhadap aplikasi ini dan situs web kami yang terletak di <b>wisataanyer.com</b> (secara bersama-sama atau individual "Layanan") yang dioperasikan oleh <b>Wisata Anyer</b>.</p>
<p>Kebijakan Privasi kami juga mengatur penggunaan Anda terhadap Layanan kami dan menjelaskan bagaimana kami mengumpulkan, melindungi, dan mengungkapkan informasi yang berasal dari penggunaan halaman web kami.</p>
<p>Kesepakatan Anda dengan kami mencakup Syarat ini dan Kebijakan Privasi kami (“Perjanjian”). Anda mengakui bahwa Anda telah membaca dan memahami Perjanjian ini, dan menyetujui untuk terikat olehnya.</p>
<p>Jika Anda tidak setuju dengan (atau tidak dapat mematuhi) Perjanjian, maka Anda mungkin tidak boleh menggunakan Layanan ini, tetapi mohon beri tahu kami dengan mengirim email ke <b>admin@wisataanyer.com</b> sehingga kami dapat mencari solusi. Syarat ini berlaku untuk semua pengunjung, pengguna, dan orang lain yang ingin mengakses atau menggunakan Layanan.</p>
<p>2. <b>Komunikasi</b></p>
<p>Dengan menggunakan Layanan kami, Anda setuju untuk berlangganan buletin, materi pemasaran, atau promosi dan informasi lain yang mungkin kami kirimkan. Namun, Anda dapat memilih untuk tidak menerima salah satu atau semua komunikasi ini dari kami dengan mengikuti tautan berhenti berlangganan atau dengan mengirim email ke admin@wisataanyer.com.</p>
<p>3. <b>Pembelian</b></p>
<p>Jika Anda ingin membeli produk atau layanan yang tersedia melalui Layanan (“Pembelian”), Anda mungkin diminta untuk menyediakan informasi tertentu yang relevan untuk Pembelian Anda, termasuk namun tidak terbatas pada nomor kartu kredit atau debit Anda, tanggal kadaluwarsa kartu Anda, alamat tagihan Anda, dan informasi pengiriman Anda.</p>
<p>Anda menyatakan dan menjamin bahwa: (i) Anda memiliki hak hukum untuk menggunakan kartu atau metode pembayaran lain dalam kaitannya dengan Pembelian apa pun; dan bahwa (ii) informasi yang Anda berikan kepada kami adalah benar, benar, dan lengkap.</p>
<p>Kami dapat menggunakan layanan pihak ketiga untuk memfasilitasi pembayaran dan penyelesaian Pembelian. Dengan mengirimkan informasi Anda, Anda memberi kami hak untuk memberikan informasi kepada pihak ketiga ini sesuai dengan Kebijakan Privasi kami.</p>
<p>Kami berhak menolak atau membatalkan pesanan Anda kapan saja atas alasan termasuk namun tidak terbatas pada: ketersediaan produk atau layanan, kesalahan dalam deskripsi atau harga produk atau layanan, kesalahan dalam pesanan Anda, atau alasan lainnya.</p>
<p>Kami berhak menolak atau membatalkan pesanan Anda jika dicurigai adanya penipuan atau transaksi yang tidak sah atau ilegal.</p>
<p>4. <b>Kontes, Undian, dan Promosi</b></p>
<p>Setiap kontes, undian, atau promosi lainnya (secara kolektif, “Promosi”) yang tersedia melalui Layanan mungkin diatur oleh aturan yang berbeda dari Syarat Layanan ini. Jika Anda berpartisipasi dalam Promosi apa pun, harap tinjau aturan yang berlaku serta Kebijakan Privasi kami. Jika aturan untuk Promosi bertentangan dengan Syarat Layanan ini, maka aturan Promosi akan berlaku.</p>
<p>5. <b>Pengembalian Dana</b></p>
<p>Kami memberikan pengembalian dana untuk Kontrak dalam waktu <b>1 hari</b> dari pembelian awal Kontrak.</p>
<p>6. <b>Konten</b></p>
<p>Layanan kami memungkinkan Anda untuk memposting, menghubungkan, menyimpan, berbagi, dan sebaliknya membuat tersedia informasi tertentu, teks, grafik, video, atau materi lainnya (“Konten”). Anda bertanggung jawab atas Konten yang Anda posting di atau melalui Layanan, termasuk legalitas, keandalan, dan kesesuaiannya.</p>
<p>Dengan memposting Konten di atau melalui Layanan, Anda mewakili dan menjamin bahwa: (i) Konten adalah milik Anda (Anda memiliki hak atasnya) dan/atau Anda memiliki hak untuk menggunakannya dan hak untuk memberi kami hak dan lisensi sebagaimana yang diatur dalam Syarat ini, dan (ii) bahwa penempatan Konten Anda di atau melalui Layanan tidak melanggar hak privasi, hak publisitas, hak cipta, hak kontrak, atau hak lainnya dari setiap orang atau entitas. Kami berhak mengakhiri akun siapa pun yang terbukti melakukan pelanggaran terhadap hak cipta.</p>
<p>Anda tetap memegang semua hak atas Konten yang Anda kirimkan, posting, atau tampilkan di atau melalui Layanan dan Anda bertanggung jawab atas perlindungan hak-hak tersebut. Kami tidak bertanggung jawab dan tidak menanggung tanggung jawab atas Konten yang Anda atau pihak ketiga lainnya posting di atau melalui Layanan. Namun, dengan memposting Konten menggunakan Layanan, Anda memberi kami hak dan lisensi untuk menggunakan, mengubah, melakukan, menampilkan publik, menampilkan secara publik, mereproduksi, dan mendistribusikan Konten tersebut di dan melalui Layanan. Anda setuju bahwa lisensi ini mencakup hak bagi kami untuk membuat Konten Anda tersedia bagi pengguna Layanan lainnya, yang juga dapat menggunakan Konten Anda sesuai dengan Syarat ini.</p>
<p>Wisata Anyer memiliki hak namun tidak berkewajiban untuk memantau dan mengedit semua Konten yang disediakan oleh pengguna.</p>
<p>Selain itu, Konten yang ditemukan di atau melalui Layanan ini adalah milik Wisata Anyer atau digunakan dengan izin. Anda tidak boleh mendistribusikan, mengubah, mengirim ulang, mengunduh, memposting kembali, menyalin, atau menggunakan Konten tersebut, baik seluruhnya maupun sebagian, untuk tujuan komersial atau keuntungan pribadi, tanpa izin tertulis maju yang diberikan oleh kami.</p>
<p>7. <b>Penggunaan yang Dilarang</b></p>
<p>Anda boleh menggunakan Layanan hanya untuk tujuan yang sah dan sesuai dengan Syarat. Anda setuju untuk tidak menggunakan Layanan:</p>
<p>0.1. Dalam cara apa pun yang melanggar hukum atau peraturan nasional atau internasional yang berlaku.</p>
<p>0.2. Untuk tujuan mengeksploitasi, merugikan, atau mencoba mengeksploitasi atau merugikan anak-anak dengan cara apa pun dengan mengekspos mereka terhadap konten yang tidak pantas atau sebaliknya.</p>
<p>0.3. Untuk mengirimkan atau memperoleh pengiriman, materi iklan, atau promosi apa pun, termasuk "surat sampah", "rantai surat", "spam", atau permintaan yang serupa.</p>
<p>0.4. Untuk menyamar atau mencoba menyamar sebagai Perusahaan, karyawan Perusahaan, pengguna lain, atau orang atau entitas lainnya.</p>
<p>0.5. Dalam cara apa pun yang melanggar hak orang lain, atau dalam cara apa pun yang ilegal, mengancam, menipu, atau merugikan, atau dalam hubungannya dengan tujuan atau aktivitas yang melanggar hukum, ilegal, menipu, atau merugikan.</p>
<p>0.6. Untuk terlibat dalam perilaku lain yang membatasi atau menghambat penggunaan atau kenikmatan Layanan oleh siapa pun, atau yang, sebagaimana yang ditentukan oleh kami, dapat merugikan atau menyakiti Perusahaan atau pengguna Layanan atau menghadapkan mereka pada tanggung jawab hukum.</p>
<p>8. <b>Analitik</b></p>
<p>Kami dapat menggunakan Penyedia Layanan pihak ketiga untuk memantau dan menganalisis penggunaan Layanan kami.</p>
<p>9. <b>Tidak Boleh Digunakan oleh Anak-Anak</b></p>
<p>Layanan ini hanya ditujukan untuk diakses dan digunakan oleh individu yang berusia minimal delapan belas (18) tahun. Dengan mengakses atau menggunakan Layanan, Anda menjamin dan mewakili bahwa Anda berusia minimal delapan belas (18) tahun dan memiliki wewenang, hak, dan kapasitas penuh untuk memasuki perjanjian ini dan mematuhi semua syarat dan ketentuan Syarat. Jika Anda belum mencapai usia minimal delapan belas (18) tahun, Anda dilarang dari kedua akses dan penggunaan Layanan ini.</p>
<p>10. <b>Akun</b></p>
<p>Ketika Anda membuat akun dengan kami, Anda menjamin bahwa Anda berusia di atas 18 tahun, dan bahwa informasi yang Anda berikan kepada kami akurat, lengkap, dan terkini sepanjang waktu. Informasi yang tidak akurat, tidak lengkap, atau usang dapat mengakibatkan penghentian segera akun Anda di Layanan kami.</p>
<p>Anda bertanggung jawab atas menjaga kerahasiaan akun dan kata sandi Anda, termasuk tetapi tidak terbatas pada pembatasan akses ke komputer dan/atau akun Anda. Anda setuju untuk menerima tanggung jawab atas semua kegiatan atau tindakan yang terjadi di bawah akun dan/atau kata sandi Anda, baik kata sandi Anda ada di Layanan kami atau layanan pihak ketiga. Anda harus segera memberi tahu kami setelah mengetahui adanya pelanggaran keamanan atau penggunaan yang tidak sah atas akun Anda.</p>
<p>Anda tidak boleh menggunakan nama orang atau entitas lain sebagai nama pengguna atau nama merek yang tidak sah digunakan, atau nama atau merek dagang yang tunduk pada hak milik pihak lain selain Anda, tanpa izin yang sesuai. Anda juga tidak boleh menggunakan nama pengguna yang bersifat ofensif, kasar, atau cabul.</p>
<p>Kami berhak untuk menolak layanan, mengakhiri akun, menghapus atau mengedit konten, atau membatalkan pesanan atas kebijakan kami semata-mata.</p>
<p>11. <b>Hak Kekayaan Intelektual</b></p>
<p>Layanan dan konten aslinya (kecuali Konten yang diberikan oleh pengguna), fitur, dan fungsionalitasnya adalah dan akan tetap menjadi properti eksklusif Wisata Anyer dan para lisensinya. Layanan dilindungi oleh hak cipta, merek dagang, dan undang-undang lainnya dari negara-negara di dalam dan luar negeri. Merek dagang kami mungkin tidak digunakan dalam kaitannya dengan produk atau layanan apa pun tanpa persetujuan tertulis terlebih dahulu dari Wisata Anyer.</p>
<p>12. <b>Kebijakan Hak Cipta</b></p>
<p>Kami menghormati hak kekayaan intelektual orang lain. Kebijakan kami adalah untuk menanggapi setiap klaim bahwa Konten yang diposting di Layanan melanggar hak cipta atau hak kekayaan intelektual lainnya ("Pelanggaran") dari setiap orang atau entitas.</p>
<p>Jika Anda adalah pemilik hak cipta, atau berwenang atas nama pemiliknya, dan Anda percaya bahwa karya yang dilindungi hak cipta telah disalin dengan cara yang merupakan pelanggaran hak cipta, harap ajukan klaim Anda melalui email ke admin@wisataanyer.com, dengan subjek: "Pelanggaran Hak Cipta" dan sertakan dalam klaim Anda deskripsi rinci tentang dugaan Pelanggaran seperti yang dijelaskan di bawah ini, dalam bagian "Pemberitahuan DMCA dan Prosedur untuk Klaim Pelanggaran Hak Cipta"</p>
<p>Anda dapat dituntut bertanggung jawab atas kerusakan (termasuk biaya dan biaya pengacara) atas pernyataan palsu atau klaim niat buruk mengenai pelanggaran terhadap Konten apa pun yang ditemukan di dan/atau melalui Layanan atas hak cipta Anda.</p>
<p>13. <b>Pemberitahuan DMCA dan Prosedur untuk Klaim Pelanggaran Hak Cipta</b></p>
<p>Anda dapat mengajukan pemberitahuan sesuai dengan Undang-Undang Hak Cipta Milenium Digital (DMCA) dengan menyediakan Agen Hak Cipta kami dengan informasi berikut secara tertulis (lihat 17 U.S.C 512(c)(3) untuk rincian lebih lanjut):</p>
<p>0.1. tanda tangan elektronik atau fisik dari orang yang berwenang untuk bertindak atas nama pemilik hak cipta yang berkepentingan;</p>
<p>0.2. deskripsi karya berhak cipta yang Anda klaim telah dilanggar, termasuk URL (yaitu, alamat halaman web) lokasi di mana karya berhak cipta tersebut ada atau salinan karya berhak cipta;</p>
<p>0.3. identifikasi URL atau lokasi spesifik lainnya di Layanan di mana materi yang Anda klaim sebagai pelanggaran berada;</p>
<p>0.4. alamat Anda, nomor telepon, dan alamat email;</p>
<p>0.5. pernyataan dari Anda bahwa Anda memiliki keyakinan yang jujur bahwa penggunaan yang dipersengketakan tidak diizinkan oleh pemilik hak cipta, agennya, atau hukum;</p>
<p>0.6. pernyataan dari Anda, yang dibuat di bawah hukuman palsu, bahwa informasi di atas dalam pemberitahuan Anda akurat dan bahwa Anda adalah pemilik hak cipta atau berwenang untuk bertindak atas nama pemilik hak cipta.</p>
<p>Anda dapat menghubungi Agen Hak Cipta kami melalui email di admin@wisataanyer.com.</p>
<p>14. <b>Laporan Kesalahan dan Umpan Balik</b></p>
<p>Anda dapat memberikan informasi dan umpan balik kepada kami, baik langsung melalui admin@wisataanyer.com atau melalui situs dan alat pihak ketiga, mengenai kesalahan, saran untuk perbaikan, ide, masalah, keluhan, dan hal-hal lain yang terkait dengan Layanan kami ("Umpan Balik"). Anda mengakui dan setuju bahwa: (i) Anda tidak akan mempertahankan, memperoleh, atau mengklaim hak kekayaan intelektual atau hak lain, judul, atau kepentingan dalam atau terhadap Umpan Balik; (ii) Perusahaan mungkin memiliki ide pengembangan yang mirip dengan Umpan Balik; (iii) Umpan Balik tidak berisi informasi rahasia atau informasi properti dari Anda atau pihak ketiga manapun; dan (iv) Perusahaan tidak berada di bawah kewajiban kerahasiaan sehubungan dengan Umpan Balik. Jika transfer kepemilikan terhadap Umpan Balik tidak mungkin dilakukan karena undang-undang wajib yang berlaku, Anda memberikan kepada Perusahaan dan afiliasinya hak eksklusif, dapat dipindahtangankan, tidak dapat ditarik, bebas dari biaya, berlisensi, tanpa batas, dan abadi untuk menggunakan (termasuk menyalin, mengubah, membuat karya turunan, menerbitkan, mendistribusikan, dan memasarkan) Umpan Balik dengan cara apa pun dan untuk tujuan apa pun.</p>
<p>15. <b>Tautan ke Situs Web Lain</b></p>
<p>Layanan kami mungkin berisi tautan ke situs web atau layanan pihak ketiga yang tidak dimiliki atau dikendalikan oleh Wisata Anyer.</p>
<p>Wisata Anyer tidak memiliki kontrol atas, dan tidak bertanggung jawab atas konten, kebijakan privasi, atau praktik dari situs web atau layanan pihak ketiga mana pun. Kami tidak menjamin penawaran dari entitas/individu ini atau situs web mereka.</p>
<p>16. <b>Penafian Jaminan</b></p>
<p>LAYANAN INI DISEDIAKAN OLEH PERUSAHAAN "SEBAGAIMANA ADANYA" DAN "SEBAGAIMANA TERSEDIA". PERUSAHAAN TIDAK MEMBERIKAN REPRESENTASI ATAU JAMINAN APA PUN, BAIK TERANG ATAU TERSIRAT, SEBAGAI OPERASI LAYANAN MEREKA, ATAU INFORMASI, KONTEN, ATAU MATERI YANG TERMASUK DI DALAMNYA. ANDA SECARA TEGAS SETUJU BAHWA PENGGUNAAN ANDA TERHADAP LAYANAN INI, KONTEN MEREKA, DAN SEGALA LAYANAN ATAU ITEM YANG DIPEROLEH DARI KAMI ADALAH RISIKO ANDA SENDIRI.</p>
<p>BAIK PERUSAHAAN MAUPUN ORANG YANG BERASOSIASI DENGAN PERUSAHAAN TIDAK MEMBERIKAN JAMINAN ATAU REPRESENTASI DENGAN HUBUNGAN TERHADAP KELENGKAPAN, KEAMANAN, KEANDALAN, KUALITAS, AKURASI, ATAU KETERSEDIAAN LAYANAN. TANPA MEMBATASI KETENTUAN DI ATAS, TANPA PERUSAHAAN ATAU SIAPA PUN YANG BERASOSIASI DENGAN PERUSAHAAN MEREKREPRESENTASI ATAU JAMINAN BAHWA LAYANAN, KONTEN, ATAU LAYANAN ATAU ITEM YANG DIPEROLEH MELALUI LAYANAN AKAN AKURAT, HANDAL, BEBAS DARI KESALAHAN, ATAU TIDAK TERGANGGU, BAHWA KERUSAKAN AKAN DIKOREKSI, BAHWA LAYANAN ATAU SERVER YANG MENYEDIAKANNYA BEBAS DARI VIRUS ATAU KOMPONEN BERBAHAYA LAINNYA ATAU BAHWA LAYANAN ATAU LAYANAN ATAU ITEM APA PUN YANG DIPEROLEH MELALUI LAYANAN AKAN MEMENUHI KEBUTUHAN ATAU EKSPEKTASI ANDA.</p>
<p>17. <b>Pembatasan Tanggung Jawab</b></p>
<p>KECUALI DILARANG OLEH UNDANG-UNDANG, ANDA AKAN MEMEGANG KAMI DAN PARA PEJABAT, DIREKTUR, KARYAWAN, DAN AGEN KAMI TIDAK BERSALAH ATAS SETIAP KERUSAKAN TIDAK LANGSUNG, PUNITIF, KHUSUS, KEBETULAN, ATAU KONSEKUENSIAL, BAGAIMANAPUN TIMBULNYA (TERMASUK BIAYA PENGACARA DAN SEMUA BIAYA TERKAIT DAN BIAYA LITIGASI DAN ARBITRASE, ATAU DALAM PERADILAN ATAU DALAM UPAYA BANDING, JIKA ADA, BAIK LITIGASI ATAU ARBITRASE DIAJUKAN), BAIK DALAM TINDAKAN KONTRAK, KELALAIAN, ATAU TINDAKAN TURTORI LAINNYA, ATAU TIMBUL DARI ATAU BERHUBUNGAN DENGAN PERJANJIAN INI, TERMASUK TANPA BATASAN SETIAP KLAIM UNTUK CEDERA PRIBADI ATAU KERUSAKAN PROPETI, TIMBUL DARI PERJANJIAN INI DAN PELANGGARAN OLEH ANDA TERHADAP UNDANG-UNDANG FEDERAL, NEGARA BAGIAN, ATAU PERATURAN DAERAH APA PUN, WALAU KAMI TELAH DIINGATKAN SEBELUMNYA TENTANG KEMUNGKINAN KERUSAKAN TERSEBUT. KECUALI DILARANG OLEH UNDANG-UNDANG, JIKA ADA TANGGUNG JAWAB TERHADAP KAMI, TANGGUNG JAWAB TERSEBUT AKAN TERBATAS PADA JUMLAH YANG DIBAYAR UNTUK PRODUK DAN/ATAU LAYANAN, DAN TIDAK AKAN ADA KONSEKUENSI ATAU KERUSAKAN PUNITIF. BEBERAPA NEGARA TIDAK MENGIZINKAN PENGECUALIAN ATAU BATASAN TERHADAP KERUSAKAN PUNITIF, KEBETULAN ATAU KONSEKUENSIAL, SEHINGGA BATASAN ATAU PENGECUALIAN SEBELUMNYA MUNGKIN TIDAK BERLAKU BAGI ANDA.</p>
<p>18. <b>Pemutusan</b></p>
<p>Kami dapat mengakhiri atau menghentikan akun Anda dan melarang akses ke Layanan secara langsung, tanpa pemberitahuan atau tanggung jawab sebelumnya, di bawah kebijakan kami sendiri, atas alasan apa pun dan tanpa batasan, termasuk namun tidak terbatas pada pelanggaran Ketentuan.</p>
<p>Jika Anda ingin mengakhiri akun Anda, Anda cukup menghentikan penggunaan Layanan.</p>
<p>Semua ketentuan dalam Ketentuan yang secara alamiah seharusnya bertahan setelah pemutusan akan tetap bertahan, termasuk, tanpa batasan, ketentuan kepemilikan, penolakan jaminan, pembebasan dari tanggung jawab, dan pembatasan tanggung jawab.</p>
<p>19. <b>Hukum yang Berlaku</b></p>
<p>Ketentuan ini akan diatur dan diartikan sesuai dengan hukum di Indonesia, di mana hukum yang berlaku tersebut akan berlaku pada perjanjian tanpa memperhatikan ketentuan konflik hukumnya.</p>
<p>Kegagalan kami untuk menegakkan hak atau ketentuan dalam Ketentuan ini tidak akan dianggap sebagai pengabaian terhadap hak-hak tersebut. Jika ada ketentuan dalam Ketentuan ini dianggap tidak sah atau tidak dapat dilaksanakan oleh pengadilan, ketentuan yang tersisa dalam Ketentuan ini akan tetap berlaku. Ketentuan ini merupakan keseluruhan perjanjian antara kita mengenai Layanan kami dan menggantikan semua perjanjian sebelumnya yang mungkin ada antara kita mengenai Layanan.</p>
<p>20. <b>Perubahan Layanan</b></p>
<p>Kami berhak untuk menarik atau mengubah Layanan kami, dan layanan atau materi apa pun yang kami sediakan melalui Layanan, atas kebijakan kami sendiri tanpa pemberitahuan. Kami tidak akan bertanggung jawab jika dengan alasan apa pun seluruh atau sebagian dari Layanan tidak tersedia kapan saja atau untuk jangka waktu tertentu. Dari waktu ke waktu, kami dapat membatasi akses ke beberapa bagian Layanan, atau seluruh Layanan, kepada pengguna, termasuk pengguna terdaftar.</p>
<p>21. <b>Perubahan dalam Ketentuan</b></p>
<p>Kami dapat mengubah Ketentuan kapan saja dengan memposting ketentuan yang diubah di situs ini. Adalah tanggung jawab Anda untuk secara berkala meninjau Ketentuan ini.</p>
<p>Penggunaan Anda yang terus menerus terhadap Platform setelah posting Ketentuan yang direvisi berarti bahwa Anda menerima dan menyetujui perubahan tersebut. Anda diharapkan untuk sering mengunjungi halaman ini agar Anda sadar akan setiap perubahan, karena perubahan tersebut mengikat Anda.</p>
<p>Dengan terus mengakses atau menggunakan Layanan kami setelah setiap revisi berlaku, Anda setuju terikat oleh ketentuan yang direvisi. Jika Anda tidak setuju dengan ketentuan baru tersebut, Anda tidak lagi diizinkan untuk menggunakan Layanan.</p>
<p>22. <b>Pengabaian dan Pisah</b></p>
<p>Tidak ada pengabaian oleh Perusahaan terhadap setiap ketentuan yang ditetapkan dalam Ketentuan akan dianggap sebagai pengabaian lebih lanjut atau lanjutan terhadap ketentuan tersebut atau sebagai pengabaian terhadap ketentuan lainnya, dan setiap kegagalan Perusahaan untuk mengajukan hak atau ketentuan dalam Ketentuan tidak akan dianggap sebagai pengabaian terhadap hak atau ketentuan tersebut.</p>
<p>Jika ada ketentuan dalam Ketentuan yang dianggap oleh pengadilan atau badan yudisial lain yang berwenang sebagai ketentuan yang tidak sah, ilegal, atau tidak dapat dilaksanakan atas alasan apa pun, ketentuan tersebut akan dihapus atau dibatasi sejauh mungkin sehingga ketentuan yang tersisa dalam Ketentuan akan tetap berlaku sepenuhnya.</p>
<p>23. <b>Pengakuan</b></p>
<p>DENGA MENGGUNAKAN LAYANAN ATAU LAYANAN LAIN YANG DISEDIAKAN OLEH KAMI, ANDA MENGAKUI TELAH MEMBACA KETENTUAN LAYANAN INI DAN SETUJU UNTUK TERIKAT OLEHNYA.</p>
<p>24. <b>Hubungi Kami</b></p>
<p>Harap kirim umpan balik, komentar, permintaan dukungan teknis melalui email: <b>admin@wisataanyer.com</b>.</p>